<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore database="SqlServer">
    <dataProviders>
      <jsonMaster>
        <Segments>
          <TemplatesRoot
            file="/App_Data/templates-root.json"
            root="{3C1715FE-6A13-4FCF-845F-DE308BA9741D}"/>
        </Segments>
      </jsonMaster>
    </dataProviders>
  </sitecore>
</configuration>