<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore database="SqlServer">
    <dataProviders>
      <jsonMaster>
        <Segments>
          <ItemsLayoutLayouts
            file="/App_Data/user-defined-templates.json"
            root="{B29EE504-861C-492F-95A3-0D890B6FCA09}"/>
        </Segments>
      </jsonMaster>
    </dataProviders>
  </sitecore>
</configuration>