<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore database="SqlServer">
    <dataProviders>
      <jsonMaster>
        <Segments>
          <ItemsSystemWorkflows
            file="/App_Data/items-system-workflows.json"
            root="{05592656-56D7-4D85-AACF-30919EE494F9}"/>
        </Segments>
      </jsonMaster>
    </dataProviders>
  </sitecore>
</configuration>