<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore database="SqlServer">
    <dataProviders>
      <jsonMaster>
        <Segments>
          <ItemsLayoutPlaceholders
            file="/App_Data/items-layout-placeholders.json"
            root="{1CE3B36C-9B0C-4EB5-A996-BFCB4EAA5287}"/>
        </Segments>
      </jsonMaster>
    </dataProviders>
  </sitecore>
</configuration>