<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore database="SqlServer">
    <dataProviders>
      <jsonMaster>
        <Segments>
          <ItemsLayoutLayouts
            file="/App_Data/items-layout-layouts.json"
            root="{75CC5CE4-8979-4008-9D3C-806477D57619}"/>
        </Segments>
      </jsonMaster>
    </dataProviders>
  </sitecore>
</configuration>