<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore database="SqlServer">
    <dataProviders>
      <jsonMaster>
        <Segments>
          <ItemsContent 
            file="/App_Data/items-content.json" 
            root="{0DE95AE4-41AB-4D01-9EB0-67441B7C2450}"/>
        </Segments>
      </jsonMaster>
    </dataProviders>
  </sitecore>
</configuration>