<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore database="SqlServer">
    <dataProviders>
      <jsonMaster type="Sitecore.Data.DataProviders.JsonDataProvider, Sitecore.JsonDataProvider">
        <param connectionStringName="$(1)" />
        <param>$(1)</param>
        <Segments hint="raw:AddSegment" />
        <IgnoreFields hint="raw:AddIgnoreField">
          <!-- absolutely useless during development -->
          <Lock>{001DD393-96C5-490B-924A-B0F25CD9EFD8}</Lock>
          
          <!-- required for /issues/1 -->
          <Style>{A791F095-2521-4B4D-BEF9-21DDA221F608}</Style>
        </IgnoreFields>
      </jsonMaster>
    </dataProviders>
    <databases>
      <database id="master">
        <dataProviders>
          <dataProvider set:ref="dataProviders/jsonMaster" set:param1="$(id)" />
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>