<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore database="SqlServer">
    <dataProviders>
      <jsonMaster>
        <Segments>
          <ItemsSystemAliases
            file="/App_Data/items-system-aliases.json"
            root="{5F094FE4-CC4B-40FD-9377-9AB00E7F7CA5}"/>
        </Segments>
      </jsonMaster>
    </dataProviders>
  </sitecore>
</configuration>