<!-- 
  Component: Sitecore.JsonDataProvider
  Purpose: default settings, custom hooks, pipelines extensions, database templates and documentation.
  Changes: Do not change this file!
  Removal: Do not delete or disable this file when any other Sitecore.JsonDataProvider.*.config files are in place.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="json:override" type="Sitecore.Commands.OverrideJsonMapping, Sitecore.JsonDataProvider" />
    </commands>
    <pipelines>
      <getContentEditorWarnings>
        <processor type="Sitecore.Pipelines.GetContentEditorWarnings.JsonItemInfo, Sitecore.JsonDataProvider" patch:after="*[last()]" />
        <processor type="Sitecore.Pipelines.GetContentEditorWarnings.FixExclusive, Sitecore.JsonDataProvider" patch:after="*[last()]" />
      </getContentEditorWarnings>
    </pipelines>
    <hooks>
      <hook type="Sitecore.Hooks.ReplaceMediaCreator, Sitecore.JsonDataProvider" />
      <!-- 
        Warning! May be resource consuming!
        
        <hook type="Sitecore.Hooks.CheckDuplicateIDs, Sitecore.JsonDataProvider" />
      -->
    </hooks>
    <dataProviders>
      <json type="Sitecore.Data.DataProviders.JsonDataProvider, Sitecore.JsonDataProvider">
        <param desc="databaseName">$(1)</param>

        <MappingTypes hint="raw:AddMappingType">
          <DatabaseFileMapping type="Sitecore.Data.Mappings.DatabaseFileMapping, Sitecore.JsonDataProvider" />
          <SubTreeFileMapping  type="Sitecore.Data.Mappings.SubTreeFileMapping,  Sitecore.JsonDataProvider" />
        </MappingTypes>

        <!--  IGNORE FIELDS
              Global list for fields to be ignored during serialization 
              
              When the 'defaultValue' attribute is specified, the field is still not stored in json file, 
              but during deserialization the value is taken according to the 'defaultValue' attribute value. 
              Empty string value of 'defaultValue' attribute means empty string which is not the same as 
              missing 'defaultValue' attribute.
              
              When the 'defaultValue' attribute is specified, the 'type' attribute is taken into account.
              When the 'type' attribute is not specified, it is considered that field is shared. Possible 
              values of the 'type' attribute are: shared, unversioned, versioned
          -->
        <IgnoreFields hint="raw:AddIgnoreField">
          <!--          
          <Lock>{001DD393-96C5-490B-924A-B0F25CD9EFD8}</Lock>
          
          <Style defaultValue="color: #780000; border-left: solid 2px #780000 ; padding-left: 5px;" fieldID="{A791F095-2521-4B4D-BEF9-21DDA221F608}"/>

          <Owner type="versioned" defaultValue="sitecore\admin">{52807595-0F8F-4B20-8D2A-CB71D28C6103}</Owner>
          <Updated type="versioned" defaultValue="$(now)">{D9CF14B1-FA16-4BA6-9288-E8A174D4D522}</Updated>
          <UpdatedBy type="versioned" defaultValue="sitecore\admin">{BADD9CF9-53E0-4D0C-BCC0-2D784C282F6A}</UpdatedBy>
          <Created type="versioned" defaultValue="$(now)">{25BED78C-4957-4165-998A-CA1B52F67497}</Created>
          <CreatedBy type="versioned" defaultValue="sitecore\admin">{5DD74568-4D4B-44C1-B513-0AF5F4CDA34F}</CreatedBy>
          <Revision type="versioned" defaultValue="$(guid)">{8CDC337E-A112-42FB-BBB4-4143751E123F}</Revision>
          
          <Workflow>{A4F985D9-98B3-4B52-AAAF-4344F6E747C6}</Workflow>
          <WorkflowState>{3E431DE1-525E-47A3-B6B0-1CCBEC3A8C98}</WorkflowState>
          -->
        </IgnoreFields>
      </json>
    </dataProviders>
    <settings>
      <setting name="Media.UploadAsFiles" set:value="true" />
      <setting name="Media.FileFolder" set:value="$(dataFolder)" />

      <!--  JSON BETTER MERGING
            If enabled, the json format is extended with trailing comma after last array item and object 
            member for easier merging process (when adding new entries, no need to modify previous one to
            add a comma in the end of line)
      -->
      <setting name="JSON.BetterMerging" value="true" />

      <!--  JSON SPECIAL FIELDS ENABLED
            Controls if JSON SpecialFields support is enabled.
      -->
      <setting name="JSON.SpecialFields.Enabled" value="false" />
      
      <!--  JSON SPECIAL FIELDS MAX FIELD LENGTH
            When JSON.SpecialFields.Enabled is set to true, JSON.SpecialFields controls maximum length of
            field that is being evaluated for being 'special' during serialization.
      -->
      <setting name="JSON.SpecialFields.MaxFieldLength" value="1024" />
    </settings>
  </sitecore>
</configuration>