<configuration>
  <sitecore>
    <databases>
      <database id="master">
        <dataProviders>
          <dataProvider ref="dataProviders/json">
            <Mappings>
              <DatabaseFileMapping file="/App_Data/$(id)/items.json" media="/App_Data/$(id)/media/" readOnly="false" />
            </Mappings>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>