<!-- 
  Component: Sitecore.JsonDataProvider
  Purpose: enables /App_Data/web/items.json as a storage for all new items in web database
  Changes: Do not change this file!
  Removal: Do not delete or disable this file when any other Sitecore.JsonDataProvider.Web.*.config files are in place.
-->
<configuration>
  <sitecore>
    <databases>
      <database id="web">
        <dataProviders>
          <dataProvider ref="dataProviders/json">
            <Mappings>
              <DatabaseFileMapping name="Default (fallback)" interval="00:00:02" file="/App_Data/$(id)/items.json" media="/App_Data/$(id)/media/" readOnly="false" />
            </Mappings>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>