<!-- 
  Component: Sitecore.JsonDataProvider
  Purpose: disables /App_Data/core/items.json as a storage for all new items in core database
  Changes: change .example extension of this file to .config to make it work
  Removal: it is safe to delete this file
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <databases>
      <database id="core">
        <dataProviders>
          <dataProvider ref="dataProviders/json">
            <Mappings>
              <DatabaseFileMapping file="/App_Data/$(id)/items.json">
                <patch:delete />
              </DatabaseFileMapping>
            </Mappings>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>