<!-- 
  Component: Sitecore.JsonDataProvider
  Purpose: allows to change default location of core items json file
  Changes: change .example extension of this file to .config to make it work
  Removal: it is safe to delete this file
-->
<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">  
  <sitecore>
    <databases>
      <database id="core">
        <dataProviders>
          <dataProvider ref="dataProviders/json">
            <Mappings>
              <DatabaseFileMapping set:file="D:\Data\$(id)\items.json" set:media="D:\Data\$(id)\media\" />
            </Mappings>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>