<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore database="SqlServer">
    <dataProviders>
      <jsonMaster type="Sitecore.Data.DataProviders.JsonDataProvider, Sitecore.JsonDataProvider">
        <param connectionStringName="$(1)" />
        <param>$(1)</param>
        <Segments hint="raw:AddSegment" />
      </jsonMaster>
    </dataProviders>
    <databases>
      <database id="master">
        <dataProviders>
          <dataProvider set:ref="dataProviders/jsonMaster" set:param1="$(id)" />
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>